#login {
	position: relative;
	margin: 200px auto;
	width: 500px;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 40px; 
	-moz-border-radius: 40px; 
	-webkit-border-radius: 40px;
	padding: 30px; 
	display:none;
}
.logo a, .logo a:hover {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px 30px;
	position: relative;
	width: 200px;
	background-color: #00b309;
	font-size: 3em;
	text-align: center;
	margin: 0 auto;
}
#loginform {
	margin-top: 40px;
}
#loginbutton {
	margin-left: 200px;
	padding: 3px 20px;
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	background-color: #00b309;
	color: #eee;
	border: 1px solid #006a05;
	position: absolute;
}
.formrow input[type=submit] {
	height: 22px;
	position: absolute;	
}
