#WelcomeTXT {
	font-size: 30px;
	font-style: oblique;
	font-family: Georgia, serif;
	border-bottom: 1px solid black;
	display: inline-block;
	margin: 20px;
	width: 400px;
}
#Dashboard_Sysmessage {
	margin-left: 20%;
	margin-right: 10%;
	width: calc(70% - 40px); 
	padding: 20px;
	background-color: rgb(240,240,240);
	border-radius: 10px;
}
#Dashboard_Sysmessage > span:first-of-type {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

#Dashboard_Messagebox {
	width: 530px;	
	float: left;
	padding: 10px;
	margin-left: 10px;
	margin-right: 50px;
	font-size: 14px;
	margin-top: -18px;
}
.Dashboard_Delbutton:before {
	content: '';
	display:block;
	width: 4px;
	height: 20px;
	background-color: rgb(170,50,50);
	position: absolute;
	left: calc(50% - 2px);	
}
.Dashboard_Delbutton {
	width: 20px;
	height: 20px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 0px;
    top: 0px;	
}
.Dashboard_Delbutton:after {
	content: '';
	width: 20px;
	height: 4px;
	background-color: rgb(170,50,50);
	top: calc(50% - 2px);
	position: absolute;
}
.Dashboard_MessageRow {
	position: relative;
}
.Dashboard_MessageRow > div {
	float: left;
	padding: 3px;
	margin: 5px 0px;
}
.Dashboard_MessageRow > div:first-of-type {
	width: 120px;
	margin-right: 2px;
	overflow-x: hidden;
	height: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.Dashboard_MessageRow > div:first-of-type > span {
	display: block;
	font-size: 12px;
	margin-top: 3px;
}
#Dashboard_Messagebox textarea {
	width: calc(100% - 8px);
	padding: 3px;
	border: 1px solid rgb(100,100,100);
	min-height: 50px;
}
.Dashboard_MessageRow > div:last-of-type {
	border-left: 1px solid rgb(100,100,100);
	width: calc(100% - 135px);
	overflow-x: hidden;
	min-height: 2em;
}
#Dashboard_Infotab {
	width: 300px;
	float: left;
	padding: 10px;
	border: 1px solid rgb(100,100,100);
	background-color: rgb(240,240,240);
	font-size: 12px;
	border-radius: 20px;
	margin-left: 10px;
}
#Dashboard_Infotab > div > div:first-of-type {
	float: left;
	font-weight: bold;
}
#Dashboard_Infotab > div > div:last-of-type {
	float: right;
}
#Dashboard_Infotab > div {
	padding: 3px 0px;
}
#Dashboard_Infotab span[data-new]:not([data-new="0"]) {
	font-weight: bold;
}
#Dashboard_Infotab > div:not(:last-of-type) {
	border-bottom: 1px solid rgb(100,100,100);
}