body {	
	font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, "Arial Unicode MS", sans-serif;
	background-color: #eee;
	color: #333;
}
a {
	text-decoration: none;
	color: #4a6da7;	
}
a:hover {
	text-decoration: underline;
}
#header {
	width: 100%;
	background-color: #8bd090;
	height: 100px;	
}
#wrapper {
	margin: 30px;
}

#loginwrapper {
	width: 600px;
	margin: 100px auto 0px auto;
	background-color: #ccc;
	padding: 30px 10px 10px 10px;
	border-radius: 50px; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	position: relative;
}
#loginformwrapper {
	background-color: #efefef;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	width: 450px;
	margin: 30px auto;
	padding: 20px;
	position:relative;	
}
#loginformwrapper label {
	position: absolute;
	top: 5px;
}

#logo, #loginlogo {	
    background-color: #30a939;
    color: white;
    width: 200px;
    text-align: center;
}

#loginlogo {
	height: 50px;
	margin: 0 auto;
	position: relative;
	padding: 10px;
}

#logo {
	height: 44px;
	position: absolute;
	margin: 0px;
	padding: 3px 10px;
}

#menu {
	margin-top: 50px;
	height: 50px;
	background-color: #008a0a;
	float: left;
	width: 100%;
}

#menu li, ul {
	float: left;
	line-height: 50px;
	color: #eee;
	font-weight: bold;
	font-size: 1.2em;
}
#menu li {
	padding: 0px 30px;
}

#menu li:hover {
	background-color: #006d08;
	color: #ccc;
}

#menu a {
	text-decoration: none;
	color: #eee;
}

.loginformfield, .loginsubmit {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #aaa;
}

.loginformfield {
	width: 280px;
	padding: 5px 5px 5px 30px;	
	position:absolute;
	left: 140px;
	height: 14px;
	font-size: 14px;
}
.loginsubmit {
	background-color: #30a939;
	color: #eee;
	padding: 10px 50px;
	margin: 0 auto;
}
.loginimage {
	left: 150px;
	top: 5px;
	position:absolute;
}
.pos_rel {
	position: relative;
}

.center {
	text-align: center;
}
.small {
	font-size: 0.9em;
}
.smaller {
	font-size: 0.8em;
}
