body {	
	font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, "Arial Unicode MS", sans-serif;
	background-color: #eee;
	
}

#header {
	width: 100%;
	background-color: #999;
	height: 100px;	
}

#logo {
    height: 100px;
    position: absolute;
    margin-left: 20px;
    background-color: #4a6da7;
    color: white;
    width: 100px;
    text-align: center;
    padding: 10px;
}

#menu {
	margin-top: 50px;
	height: 50px;
	background-color: #777;
	float: left;
	width: 100%;
	padding-left: 150px;
}

#menu li, ul {
	float: left;
	line-height: 50px;
	color: #eee;
	font-weight: bold;
	font-size: 1.2em;
}
#menu li {
	padding: 0px 30px;
}

#menu li:hover {
	background-color: #696969;
	color: #ccc;
}

#menu a {
	text-decoration: none;
	color: #eee;
}
