body {	
	font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, "Arial Unicode MS", sans-serif;
	background-color: #eee;
	color: #333;
}
a {
	text-decoration: none;
	color: #008a0a;	
}
a:hover {
	text-decoration: underline;
}
input[type="checkbox"] {
	display:inline-block;
	margin: 0px;
}
#header {
	width: 100%;
	background-color: #bbb;
	height: 100px;
	position:relative;
}
#footer {
	width: 100%;
	background-color: #999;
	height: 30px;
	position:fixed;
	bottom: 0px;
	color: white;	
}
#footer a {
	color:white;
}
#wrapper {
	margin: 30px;
	position:relative;
	min-height: 300px;
	font-size: 0.9em;
}

#logout {
	display: block;
	right:0px;
	height:20px;
	padding: 15px;
	position:absolute;
	background-color: #30a939;
	color: white;
	font-size:1.1em;
	font-style: italic;
}
#logout:hover {
	text-decoration: none;
}

#loginwrapper {
	width: 600px;
	margin: 100px auto 0px auto;
	background-color: #ccc;
	padding: 30px 10px 10px 10px;
	border-radius: 50px; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	position: relative;
}
#loginformwrapper {
	background-color: #efefef;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	width: 450px;
	margin: 30px auto;
	padding: 20px;
	position:relative;	
}
#loginformwrapper label {
	position: absolute;
	top: 5px;
}

#logo, #loginlogo {	
    background-color: #30a939;
    color: white;
    width: 200px;
    text-align: center;
    top:0px;
    left:0px;
}

#loginlogo {
	height: 50px;
	margin: 0 auto;
	position: relative;
	padding: 10px;
	display:block;
}
#logo:hover, #loginlogo:hover {
	text-decoration:none;
}

#logo {
	height: 44px;
	position: absolute;
	margin: 0px;
	padding: 3px 10px;
}

#menu {
	margin-top: 50px;
	height: 50px;
	background-color: #999;
	float: left;
	width: 100%;
}

#menu li, #menu ul {
	float: left;
	line-height: 50px;
	font-weight: bold;
	font-size: 1.2em;
}
#menu li {
	padding: 0px 30px;
}

#menu li:hover {
	background-color: #777; /*#006d08*/
	color: #ccc;
}

#menu a {
	text-decoration: none;
	color: #fff;
}

#usersearch input[type="text"]{
	left: 100px;
	padding: 2px;
	height: 16px;
	wdith: 100px;
}

#usersearch input {
	position:absolute;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #aaa;	
}
#useradd select {
	padding:2px;
	height: 22px;
	position: absolute;
	left: 150px;
	min-width: 200px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #aaa;
}
#useradd input[type="text"], #useradd input[type="password"] {
	padding:2px;
	height: 16px;
	position: absolute;
	left: 150px;
	min-width: 200px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #aaa;	
}
#useradd input[type="checkbox"] {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	width: 16px;
	height: 16px;
	border: 1px solid #aaa;	
}

#useradd_rights label {
	line-height: 14px;
	position:relative;
	padding-left: 20px;
}
#useradd_rights input[type="checkbox"] {
	width: 14px;
	height: 14px;
	bottom:0;
	left: 0;
	position:absolute;
}

#useradd_rights ul {
	width: 244px; 
	float:left;
}

.inputsubmit {
	
	background-color: #30a939;
	color: #eee;
	padding: 2px 20px;
	height: 22px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #aaa;
} 

.loginformfield, .loginsubmit {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px solid #aaa;
}

.loginformfield {
	width: 270px;
	padding: 5px 5px 5px 30px;	
	position:absolute;
	left: 140px;
	height: 14px;
	font-size: 14px;
}
.loginsubmit {
	background-color: #30a939;
	color: #eee;
	padding: 10px 50px;
	margin: 0 auto;
}
.loginimage {
	left: 150px;
	top: 5px;
	position:absolute;
}
.center {
	text-align: center;
}
.small {
	font-size: 0.9em;
}
.smaller {
	font-size: 0.8em;
}
.error {
	color: #b70000;
	background-color: #ffd2d2;
	border: 1px solid #b70000;
	padding: 6px;
}
.margin_center {
	margin: 0 auto;
}

.smallspace {margin: 5px 0px;}
.morespace { margin: 10px 0px;}

.field {
	position:relative;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #ddd;
	min-width: 500px;	
	min-height: 100px;
	float:left;
	padding: 10px;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
.headline {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 1.1em;
}
.bordered {
	padding: 5px;
	border: 1px solid #777;
}
.relative {position:relative;}
.ffheight {line-height: 24px;}
.formrow {position:relative; line-height: 22px;}
.fett {font-weight: bold;}
.floatbreak {clear:both; float:none;}

.darkerList {
	background-color:#ccc;
}
.colorchangerList a:hover {
	background-color: #30a939;
	color: white;
}
