body {	
	font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, "Arial Unicode MS", sans-serif;
	background-color: #eee;
	
}

#header {
	width: 100%;
	background-color: #ccc;
	height: 100px;	
}

#logo {
    height: 100px;
    position: relative;
    margin-left: 200px;
    background-color: #4a6da7;
    color: white;
    width: 100px;
    text-align: center;
    padding: 10px;
    float: left;
}

#menu {
	padding-top: 50px;
	height: 50px;
	background-color: #777;
}

#menu li, ul {
	float: left;
	padding: 0px 20px;
	line-height: 50px;
	color: #eee;
	font-weight: bold;
	font-size: 1.5em;
}
