body {
	font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, Arial Unicode MS, sans-serif;
	background: rgb(240,240,240) linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
	background-attachment: fixed;
	min-height: 100vh;
	font-size: 16px;
	color: rgb(10,10,10);
}
::-webkit-scrollbar { 
    display: none; 
}
label {
	line-height: 22px;
	display: block;
	margin: 5px 0px;
	position: relative;
	text-align: left;
}
input {
	height: 16px;
	padding: 2px;
	border: 1px solid rgb(100,100,100);
	border-radius: 5px;
	margin-left: 20px;
	float: right;
	width: 200px;
	color: rgb(30,30,30);
}
button {
	background-color: rgb(0,180,20);
	border: 1px solid rgb(0,90,10);
	color: rgb(240,240,240);
	padding: 5px 40px;
	border-radius: 5px;
}
.smallspacer {
	margin-top: 10px;
}
.error {
	border: 1px solid rgb(170,0,0);
	color: rgb(170,0,0);
	background-color: rgb(255,130,130);
	display: none;
	padding: 3px;
	margin: 5px;
}
.headline {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.loadingimg {
	margin: 20px auto;
}
.shader {
	background-color: rgba(0,0,0,0.15);
}