body {
	font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, "Arial Unicode MS", sans-serif;
	font-size: 16px;
	background-image: url("/images/bg.png");
	background-repeat: repeat-x;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: #00b309;
}
a:hover {
	text-decoration: underline;
}
strong { font-weight: bold}
fieldset {
	border: 1px solid #777;
	padding: 5px;
	margin: 0px 10px 10px 0px;
}
legend {
	padding: 0px 2px;
}
input[type="text"], input[type="password"], input[type="checkbox"] {
	position: relative;	
	width: 200px;
	height: 16pt;
	padding: 3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #555;
	top: -3px;
	right: 0px;
	margin-left: 40px;
	float:right;
}
input[type="checkbox"] {
	width: 16px;
}
button {
	background-color: #00b309;
	cursor: pointer;
	color: #fefefe;
	padding: 5px 20px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #555;
}
#noscript {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	background-color: #111;
}
#noscriptBox {
	width: 500px;
	padding: 20px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 200px auto;
	background-color: rgba(250,250,250,0.9);
	
}
.floatbreak {
	clear: both;
}
.formrow {
	display: block;
	margin: 10px 0px;
	position: relative;
	text-align: left;
	clear: both;
}
.formrowcontainer {
	display: inline-block;
}
.error {
	border: 1px solid #800000;
	color: #800000;
	background-color: #ff8080;
	display: none;
	padding: 2px;
}
.warn {
	border: 1px solid #d74600;
	color: #d74600;
	background-color: #ffb591;
	display: none;
	padding: 2px;
}
.success {
	border: 1px solid #008c23;
	color: #008c23;
	background-color: #79ff9b;
	display: none;
	padding: 2px;
}
.fieldset {
	background-color: rgba(255,255,255,0.7);
	margin: 0px 20px 20px 0px;
	padding: 10px;
	position: relative;
	float: left;
}
.headline {
	font-weight: bold;
	margin-bottom: 10px;
}
.scrollable {
	overflow-x: hidden;
	overflow-y: auto;
}
.clickable {
	cursor: pointer;
}
.shader {
	background-color: rgba(200,200,200,0.5);
}
.overlay {
	background-color: rgba(100,100,100,0.6);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	display:none;
}
.overlay .inner {
	background-color: rgba(255,255,255,0.8);
	padding: 20px;
	margin: 0 auto;
	display: inline-block;
	position: absolute;
}

.overlay > .inner > img {
	position: absolute;
	right: 5px;
	top: 5px;
}
.tooltip {
	position: absolute;
	z-index: 90;
	background-color: rgba(255,255,255,0.9);
	display: none;
	padding: 10px;
}