body {
	font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, "Arial Unicode MS", sans-serif;
	color: #222;
	font-size: 16px;
}
a {
	color: #008a03;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
fieldset { 
	border: 1px solid #555;
	margin: 5px 15px;
	padding: 5px;
}
legend {
	padding: 3px;
	font-weight: bold;
}
#noscript {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #111; 
}
#noscript div {
	width: 400px;
	background-color: #000;
	padding: 20px;
	margin: 200px auto;
	border-radius: 40px; 
	-moz-border-radius: 40px; 
	-webkit-border-radius: 40px;
	position: relative;
	background-color: #f1fef1;
	border: 5px solid #065e06;
}
#noscript p {
	margin-bottom: 1em;
}
#wrapper {
	width: 100%;
	height: 100%;
	position:absolute;
}

#topbar {
	height: 40px;
	width: 100%;
	background: url("images/topbar_bg.png") repeat-x;
	position:relative;
}
#usericon {
	position: absolute;
	right: 50px;
	top: 10px;
	font-size: 0.9em;
	color: #525252;
	font-weight: bold;
}
#usericon img {
	position: absolute;
	top: -5px;
	right: -25px;
}
#time {
	margin: 0 auto;
	width: 200px;
	text-align: center;
	padding-top: 10px;
	font-size: 0.9em;
	color: #525252;
	font-weight: bold;
}
#mainmenu {
	margin: 20px;
	text-align: center;
	position: relative;
}
#site {
	position: relative;
	height: 100%;
}
.clickable {
	cursor: pointer;
}
.mainmenuentry {
	width: 200px;
	height: 200px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 20px; 
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;	
	display: block;
}
.modul {
	background-color: rgba(255,255,255,0.95);
	display: none;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}
.modulheadline {
	width: 100%;
	border-bottom: 1px solid #888;
	height: 30px;
	border-radius-top: 10px 10px 0px 0px; 
	-moz-border-radius: 10px 10px 0px 0px; 
	-webkit-border-radius: 10px 10px 0px 0px;
	background-color: #ccc;
	position: relative;
	cursor: move;
}
.modulheadline img {
	position: absolute;
	top: 5px;
	right: 5px;
}
.modul .inner {
	height: 100%;
	font-size: 0.9em;
	position: relative;
}
.floatbreak {
	clear: both;
}
.formrow {
	position: relative;
	width: 100%;
	height: 22px;
	margin: 5px 0px;
}
.formrow input, .formrow select {
	position: absolute;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background-color: #fefefe;
	border: 1px solid #555;
	height: 16px;
	margin-left: 200px;
	padding: 2px;
	width: 170px;
}
.formrow input[type=submit] {
	height: 22px;
}
.formrow select {
	height: 22px;
	width: 175px;
}
.formrow label {
	height: 16px;
	position: absolute;
	margin-top: 2px;	
}
.error {
	padding: 5px;
	color: #840000;
	border: 1px solid #840000;
	background-color: #ff9393;
	display: none;
	text-align: center;
}
.smallmargin {
	margin: 5px;
}
.moremargin {
	margin: 10px 5px;
}
.bold {
	font-weight: bold;
}
.biggerText {
	font-size: 1.1em;
}
.relative {
	position: relative;
}