#Footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	background-color: rgb(0,150,20);
	z-index: 90;
}
#Footer a {
	display: inline-block;	
	color: rgb(250,250,250);
	line-height: 20px;
}
#Footer a:not(:last-of-type) {
	margin-right: 16px;
}
#Footer a:not(:last-of-type):after {
	content: "";
	width: 0px;
	border-right: 1px solid rgb(250,250,250);
	margin-left: 20px;
}
#LoadingBox, #MessageBox {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 150;
	display: none;
}
#LoadingBox_Inner, #MessageBox_Inner {
	position: absolute;
	padding: 10px;
	background-color: rgba(250,250,250,0.95);
	top: calc(45% - 60px);
	left: calc(50% - 60px);
	border-radius: 50%;
}
#MessageBox {
	z-index: 100;
	text-align: center;
}
#MessageBox_Inner {
	border-radius: 0px;
	top: 30%;
	display: inline-block;
	text-align: left;
	position: relative;
	left: 0px;
	max-width: 40%;
	padding: 20px;
	box-shadow: 0px 0px 5px 2px rgb(100,100,100)
}

#MessageBox_ButtonRow {
	margin-top: 20px;
	text-align: center;
}
#MessageBox_ButtonRow > button {
	display: inline-block;
	margin-right: 20px;
}
#MessageBox_ButtonYes, #MessageBox_ButtonOk, #MessageBox_ButtonNo {
	display: inline-block;	
	background-color: rgb(0,150,20);
	color: rgb(240,240,240);
	margin-top: 10px;
	font-size: 16px;
	padding: 5px 30px;
}  
#MessageBox_ButtonNo {
	background-color: rgb(170,50,50);
}