input[type="submit"] {
	padding: 3px 20px;
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	background-color: #00b309;
	color: #eee;
	border: 1px solid #006a05;
	position: absolute;	
}
#usearch_fieldset {
	width: 400px;
	margin-bottom: 10px;
	float: left;
}
.searchlist {
	padding: 3px;
	margin: 0px 5px;
}
.searchlist:hover {
	background-color: #00b309;
	color: #eee;
}
.darker {
	background-color: #9fffa5;
}
.vsright {
	position: absolute;
	right: 2px;
}
#adduser_button {
	padding: 5px 0px;
	position: absolute;
	width: 100px;
	text-align: center;
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	background-color: #00b309;
	color: #eee;
	border: 1px solid #006a05;
	right: 10px;
	top: 15px;
}
#adduser_mainfieldset {
	position: relative;
	top: 0px;
}
#adduser_window input[type=submit] {
	margin: 0px 15px;
}
#adduser_perms {
	position: absolute;
	right: 0px;
	top: -5px;
	margin-top: 5px;
	width: 100px;
	float: left;
}
#adduser_perms_list {
	position: absolute;
	border: 1px solid #006a05;
	background-color: #fefefe;
	padding: 5px;
	color: #333;
	display:none;
	cursor: default;
}
.adduser_perms_subset {
	width: 200px;
	margin: 5px;
	padding: 5px;
}
.adduser_perms_subset .item {
	width: 190px;
	padding: 5px;
	margin: 5px 0px;
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
}
.adduser_perms_subset .inactive {
	color: #840000;
	border: 1px dotted #840000;
	background-color: #ff9393;
}
.adduser_perms_subset .active {
	color: #eee;
	border: 1px dotted #006a05;
	background-color: #00b309;
}