#logo {
	font-size: 3em;
	color: #fff;
	background-color: #00b309;
	padding: 20px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	display: inline-block;
}
#login {
	width: 500px;
	background-color: rgba(255,255,255,0.8);
	padding: 20px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	margin: 200px auto;
	text-align: center;
}
#disclaimer {
	font-size: 12px;
}
#login > .overlay li {
	list-style: disc;
}
#login > .overlay ul {
	margin-left: 20px;
}
#login > .overlay p {
	margin: 20px 0px;
}