#CalendarAdmin_PatternAdder {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: -220px; /* Main Menu */
	top: 0px;
	z-index: 100;
	background-color: rgba(0,0,0,0.1);
	text-align: center;
}
#CalendarAdmin_PatternAdderInner {
	margin: 0 auto;
	min-width: 20vw;
	max-width: 40vw;
	margin-top: 20vh;
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(250,250,250); 
	display: inline-block;
	text-align: left;
}
.CalendarAdmin_PatternSpacer > div {
	height: 124px;
	min-width: 20px;
	line-height: 124px;
	text-align: center;
	font-size: 32px;
}
.CalendarAdmin_PatternRow, .CalendarAdmin_PatternSpacer {
	float: left;
}
.CalendarAdmin_PatternRow > div {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(100,100,100);
	text-align: center;
	font-size: 32px;
	line-height: 40px;
	overflow: hidden;
}
.CalendarAdmin_PatternRow > div:first-of-type {
	border-bottom: 0px;
	border-radius: 10px 10px 0px 0px;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.CalendarAdmin_PatternRow > div:last-of-type {
	border-top: 0px;
	border-radius: 0px 0px 10px 10px;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#CalendarAdmin_Postadder {
	float: left;
	margin-left: 20px;
}
#CalendarAdmin_Selectbar {
	padding: 20px;
	border-bottom: 1px solid rgb(100,100,100);
	background-color: rgba(255,255,255,0.6);
	background-image: linear-gradient(to top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 50%);
	height: 60px;
}
#CalendarAdmin_Overlay {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: -220px; /* Main Menu */
	top: 0px;
	z-index: 99;
	background-color: rgba(0,0,0,0.1);
}
#CalendarAdmin_OverlayInner {
	margin: 0 auto;
	min-width: 15vw;
	max-width: 25vw;
	margin-top: 30vh;
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(250,250,250); 
}
#CalendarAdmin_CalContent {
	max-height: calc(100vh - 141px);
	overflow-y: auto;
	padding: 20px;
}
#CalendarAdmin_PatternTable tr, #CalendarAdmin_PatternTable td, #CalendarAdmin_PatternTable th {
	border: 1px solid rgb(100,100,100);
	padding: 3px;
}
#CalendarAdmin_PatternTable td {
	position: relative;
}
#CalendarAdmin_PatternTable {
	float: left;
}
#CalendarAdmin_PatternTable tr:first-of-type {
	background-color: rgb(170, 210, 170);
	color: rgb(0,120,20);
	font-weight: bold;
	font-size: 20px;
}
.CalendarAdmin_PatternEntry div > span {
	display: block;
	line-height: 16px;
	font-size: 16px;
}
.CalendarAdmin_PatternEntry div:first-of-type {
	padding: 3px 0px;
	padding-left: 5px;
}
.CalendarAdmin_PatternEntry div:last-of-type:not(:first-of-type) {
	line-height: 32px;
	font-size: 24px;
	padding: 3px 10px;
}
.CalendarAdmin_PatternEntry:last-of-type {
	font-size: 16px;
	text-align: center;
}
.CalendarAdmin_PatternEntry {
	margin: 0 auto;
	margin-bottom: 3px;
	border: 2px solid rgb(0,120,20);
	background-color: rgb(170,210,170);
	border-radius: 2px;
	color: rgb(0,120,20);
	font-weight: bold;
	height: 38px;
	line-height: 38px;
	width: 110px;
}