#calendaradmin_inner {
	padding: 5px 0px;
}
#button_posts, #button_cal {
	position: absolute;
	width: 120px;
	height: 20px;
	top: 7px;
	overflow:hidden;
}
#button_posts span, #button_cal span {
	margin-top: 2px;
	display:block;
}
#button_posts {	
	left: 300px;
}
#button_cal {
	right: 15px;
}
#cadmin_main_search {
	position: relative;
	top: 0px;
	left: 0px;
	width: 250px;
}
#cadmin_main_list_inner {
	overflow-y: auto;
	height: 100px;
}
#cadmin_main_list_inner .item {
	display:block;	
	padding: 2px;
} 
#cadmin_main_list_inner .darker {
	background-color: #9fffa5;
}
#cadmin_add_list_u, #cadmin_add_list_g, #cadmin_edit_list_u, #cadmin_edit_list_u {
	width: 200px;
}
#cadmin_add_list_u legend, #cadmin_add_list_g legend, #cadmin_edit_list_u legend, #cadmin_edit_list_g legend {
	font-size: 1.2em;
}
#cadmin_add_infos, #cadmin_edit_infos {
	width: 300px;
	float:left;
	margin-right: 0px;
}
#cadmin_add_infos input, #cadmin_add_infos select, #cadmin_edit_infos input, #cadmin_edit_infos select {
	margin-left: 110px;
}
#c_newcal_button, #c_editcal_button {
	margin-left: 15px;
}
#c_edit_delete {
	right: 10px;
}
#cadmin_posts_field {
	width: 400px;
	float: left;
	max-height: 400px;
	overflow-y: auto;
}
#cadmin_posts_add {
	width: 200px;
	float: right;
}
#cadmin_posts_add input {
	margin-left: 80px;
	width: 110px;
}
#c_posts_selector {
	width: 100%;
}
.cadmin_posts_post {
	border: 1px solid #777777;
	margin: 5px;
	color: #555;
	font-weight: bold;
	height: 4em;
	text-align: center;
	background-color: #ddffdf;
	padding: 5px 5px 5px 0px;
}
.cadmin_posts_post:hover {
	background-color: #f0fff1;
}
.cadmin_posts_post_start, .cadmin_posts_post_end, .cadmin_posts_post_expire, .cadmin_posts_post_count {
	float:left;
	width: auto;
	margin-right: 10px;
}	
.cadmin_posts_post .smallerDate {
	font-size: 0.9em;
}
.cadmin_posts_post .time {
	font-size: 2.1em;
}
.cadmin_posts_post_count_content {
	font-size: 1.1em;
	display:block;
	padding: 3px;
}
#cadmin_posts_field_content .postheader {
	font-weight: normal;
	display:block;
	margin-bottom: 5px;
	font-size: 1em;
}
.postdeletebutton {
	float:right;
	padding: 2px;
	border: 1px solid #777777;
	background-color: #fff;
}

