#UM-Searchbox {
	box-shadow: 0px 0px 1px 1px rgb(100,100,100); 
	padding: 5px;
	margin-bottom: 10px;
}

.UM-Card {
	box-shadow: 0px 0px 1px 1px rgb(0,120,20);
	float: left;
	background-color: rgb(250,250,250);
	width: 270px;
	height: 126px;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}

.UM-Card > div > span {
	position: absolute;
	right: 5px;
	margin-left: 30px;
}

.UM-Card > div:first-of-type {
	background-color: rgb(0,150,20);
	color: rgb(250,250,250);
}

.UM-Card > div {
	padding: 4px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 13px;
}

#UM-CardContainer:after {
	Content: "";
	clear: both;
	display: block;
}

.UM-Card-Pluslayer {
	width: 60px !important;
	height: 60px !important;
	padding: 10px !important;
	box-shadow: 0px 0px 1px 3px rgba(0,150,20,0.5);
	border-radius: 50%;
	left: calc(50% - 40px);
	top: calc(50% - 40px + 10px);
	position: absolute !important;
}

.UM-Card-Plus {
	width: 16px !important;
	height: 60px !important;
	background-color: rgb(100,200,120);
	box-shadow: 0px 0px 1px 1px rgb(100,200,120);
	position: absolute;
	left: calc(50% - 8px);
	top: calc(50% - 30px);
}

.UM-Card-Plus:after {
	Content: "";
	width: 60px !important;
	height: 16px !important;
	background-color: rgb(100,200,120);
	box-shadow: 0px 0px 1px 1px rgb(100,200,120);
	position: absolute;
	left: calc(50% - 30px);
	top: calc(50% - 8px);
}