.GroupListEntry {
	padding: 10px;
	min-width: 250px;
	max-width: 250px;
	box-shadow: 0px 2px 1px -1px rgb(100,100,100);	
	font-family: "Lucida Console", Monaco, monospace;	
	margin-bottom: 2px;
	position: relative;	
}

.GroupListEntry:not([data-gid="0"]):hover, .GroupListEntry.selected {
	background-color: rgb(150,225,160);
	cursor: pointer;
}
.GroupListEntryEdit {
	position: absolute;
	width: 13px;
	height: 13px;
	padding: 3px;
	border-radius: 2px;
	box-shadow: 0px 0px 1px 1px rgb(0,180,20);	
	color: rgb(250,250,250);
	cursor: pointer;
	right: 32px;
	top: calc(50% - 10px);
	background-position: center;
	display: block;
	background-color: rgb(150,225,160);
	background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QAwQBVAHgZn29BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QUSCBcbosluIQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAACJElEQVQozy3OT0tUURiA8ec958zcuY7jiI1jppKWSmYiohJBiEWLMEyI0lW0atGmnZuWQYvoA7hrK7iPCoqCkkgLQigsBUeNRsRy/D927zmnRT5f4PdIsVhk9vkkZvqLCndyWVDV3roKbwHnD7yXkihVKlRad/ruCAMDA5iVlRWC4Dulml+Uw+1MduPkpIhp9DaKwPzQCXPPO7/lAk0YhogIZm11jlLhI67Kp0MThYW6pXPiJd0yd/FAjC75yJdFiWu70EtLSwsAKhvPocSJMlKxn958l0y5CpNwrPVM2+38wm1J+i208/X9ndTU1ABgisvvhdimVYJKHSSq4nIkzhN7Y9ddfmXDC/u9Q+NUNjehtf4vtba3ixid5q+dNpQT3juU94fWcj1W8e5O7bLfb8iQyWQAcM6hurp70rV1dVXWSHbvwCtliCNk3Tt+W8te79VxcicaiaKI+fl5tNao2Kr04OUrb4IgmbRKgZJDrf2wg921jUPvgjbiOCaVSqmOjo4UUKmevf6Wdl6HN26OqQoS1sZqPbZuc2KqED2cWEh0dvWTz+cVkAemgAy3hntOVWfDzfLqY7u39GTz5dPh1rFrDU0izAJngONAE/AW6AZyaC3NRus/QVLvP3owdPbOaF+fQEEpGQVeASPAV2AQyHFUDljTilbgp4h8CgLTB1wCXgD3gQ9HGjMzMwCEgAbqj3bagVrgGHAe+Ax0AGZxcZE4jvkHz1jagngddhcAAAAASUVORK5CYII=')
}
.GroupListEntryDelete {
	position: absolute;
	width: 13px;
	height: 13px;
	padding: 3px;
	border-radius: 2px;
	box-shadow: 0px 0px 1px 1px rgb(170,0,0);
	background-color: rgb(170,50,50);
	color: rgb(250,250,250);
	cursor: pointer;
	right: 7px;
	top: calc(50% - 10px);
	text-align: center;
	font-weight: bold;
	display: block;
}
#GroupList {
	float: left;
}
#GroupManagerContainer {
	margin-top: 20px;	
	box-shadow: 0px -2px 1px -1px rgb(100,100,100);
}
#GroupManagerContainer:after {
	content: "";
	display: block;
	clear: both;
}
#GroupMembers {
	float: left;
	min-height: 250px;
	margin-left: 2px;
	margin-top: -2px;
	padding: 10px;
}
#GroupMemberContainer > label {
	min-width: 150px;
	max-width: 150px;
	overflow: hidden;
}