#Calendar_Selectbar {
	padding: 20px;
	border-bottom: 1px solid rgb(100,100,100);
	background-color: rgba(255,255,255,0.6);
	background-image: linear-gradient(to top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 50%);
	height: 60px;
}
#Calendar_CalContent {
	width: 100%;
	height: calc(100vh - 101px);
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
}
#Calendar_DayContent {
	width: calc(100% - 40px);
	height: calc(100vh - 141px);
	position: absolute;
	left: -100%;
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}
#Calendar_DayContent > div {
	float: left;
}
#Calendar_CalendarHolder {
	float: left; 
	padding: 20px;
}
#Calendar_DateSelectbar {
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
}
#Calendar_DateSelectbar > div {
	float: left;
	border: 1px solid rgb(100,100,100);
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	width: calc(100% - 84px);
	text-align: center;
	background-color: rgb(240,240,240);
}
#Calendar_DateSelectbar > div:first-of-type {
	border-radius: 15px 0px 0px 15px;
	border-right: 0px;
	width: 40px;
	background-color: rgb(200,200,200);
}
#Calendar_DateSelectbar > div:last-of-type {
	border-radius: 0px 15px 15px 0px;
	border-left: 0px;
	width: 40px;
	background-color: rgb(200,200,200);
}
#Calendar_CalendarHolder tr, #Calendar_CalendarHolder td, #Calendar_CalendarHolder th {
	border: 1px solid rgb(100,100,100);
}
#Calendar_CalendarHolder td, #Calendar_CalendarHolder th {
	padding: 5px;
	min-width: 60px;
	height: 50px;
	background-color: rgb(240,240,240);
	position: relative;
}
#Calendar_CalendarHolder th {
	height: 30px;
	background-color: rgba(0,0,0,0.1) !important;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold; 
}
#Calendar_Postdetailes {
	background-color: rgba(240,240,240,0.8);
	border: 1px solid rgb(100,100,100);
	padding: 20px;
	width: 350px;
	min-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}
#Calendar_ButtonArea {
    line-height: 40px;
    font-size: 100px;
    padding: 20px;
    height: 60px;
    background-color: rgb(200,200,200);
    color: rgb(100,100,100);
    font-weight: bold;
    border: 1px solid rgb(100,100,100);
    text-align: center;
    margin-left: 20px;
    border-radius: 10px;
}
#Calendar_PostEntryList > span {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
#Calendar_PostDetailButtonContainer button {
	margin-top: 10px;
	width: 170px;
	float: left;
	padding: 4px 10px;		
}
#Calendar_PostDetailButtonContainer button:first-of-type {
	margin-right: 10px;
}
.Calendar_PostEntry {
	margin-bottom: 4px;
	position: relative;
}
.Calendar_PostEntry > div:first-of-type {
	font-size: 18px;
	font-weight: bold;
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 30px;
	position: relative;
}
.Calendar_PostEntry > div:first-of-type::after {
	position: absolute;
    height: 14px;
    bottom: -5px !important;
    top: inherit;
    right: -5px;
    line-height: 14px;
    font-size: 10px;
}
.Calendar_PostEntry > div:last-of-type {
	line-height: 40px;
	margin-left: 50px;
}
.Calendar_PostEntry > button {
	position: absolute;
	right: 0px;
	border-color: rgb(170,0,0);
	background-color: rgb(170,50,50);
	padding: 2px 10px;
	height: 22px;
	top: 8px;
}
.withPosts {
	background-color: rgb(170,210,170) !important;
}
.grayed {
	background-color: rgba(0,0,0,0.1) !important;
}
.Calendar_Post {
	border: 1px solid rgb(0,120,20);
	color: rgb(0,120,20);
	background-color: rgb(170, 210, 170);
	margin: 5px;
	margin-top: 0px;
	padding: 5px;
	position: relative;
	height: 16px;
	border-radius: 5px;
	line-height: 18px;
}
.notFull {
	color: rgb(40, 40, 40) !important;
	border-color: rgb(120, 170, 0) !important;
	background-color: rgb(230, 255, 180) !important;
}
.Full {
	border-color: rgb(170,0,0) !important;
	background-color: rgb(170,50,50) !important;
	color: rgb(200,200,200) !important;
}
.hasRequest::after { /* Für Anzeige in der Postliste */
	Content: 'R';
	position: relative;
	right: -3px;
	top: -2px;
	background-color: rgb(170,50,50) !important;
	color: rgb(200,200,200) !important;
	padding: 2px 4px;
	border-radius: 5px;
	font-size: 12px;
	margin-right: 3px;
}
.withReq::after { /* Für Anzeige im Kalender */
    Content: 'R';
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: rgb(170,50,50) !important;
    color: rgb(200,200,200) !important;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 3px;
    margin-bottom: 3px;
}