#MainMenu {
	min-width: 220px;
	max-width: 220px;
	background: rgb(120,120,120) linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.2) 100%);
	min-height: 100vh;
	max-height: 100vh;
	position: relative;
}
#Content {
	position: absolute;
	width: calc(100vw - 220px);
	left: 220px;
	top: 0px;
	padding: 0px;
}
#MainMenu > .logo {
	background-color: rgb(0,180,20);
	padding: 10px;
	font-size: 60px;
	display: block;
	height: 90px;
	color: rgb(250,250,250);
	width: 100px;
	margin: 0px auto;
	left: calc(50% - 60px);
	top: 10px;
	position: absolute;
	text-align: center;
}
#MainMenu > .logo > span {
	display:block;
	font-size: 25px;
}
#lMainMenu {
	padding-top: 150px;
	display: block;
}
#lMainMenu > li {
	padding-left: 10px;
	display: block;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: rgb(240,240,240);	
	background-color: rgba(250,250,250,0.1);
	margin-bottom: 3px;
	cursor: pointer;
}
#lMainMenu > li:hover {
	background-color: rgba(250,250,250,0.2);
}
#lMainMenu > li:last-of-type {
	margin-bottom: 0px;
}