#MessageBox, #LoadingBox {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 100;
	background-color: rgba(0,0,0,0.1);
}
#MessageBox {
	z-index: 110;
}
#MessageBoxContent, #LoadingBoxContent {
	margin: 0 auto;
	min-width: 20vw;
	max-width: 30vw;
	margin-top: 40vh;
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(250,250,250); 
}
#LoadingBox {
	text-align: center;
	background-color: rgba(0,0,0,0.25);
}
#LoadingBoxContent {
	display: inline-block;
	padding: 0px;
	min-width: 0px;
	max-width: none;
	background-color: rgba(250,250,250,0.5);
}
#MainMenu {
	min-width: 220px;
	max-width: 220px;
	background: rgb(120,120,120) linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 2%, rgba(0,0,0,0.2) 100%);
	min-height: 100vh;
	max-height: 100vh;
	position: fixed;
	z-index: 99;
}
#Content {
	position: absolute;
	max-width: calc(100vw - 220px);
	min-width: calc(100vw - 220px);
	left: 220px;
	top: 0px;
	padding: 0px;
	overflow-x: hidden;
	height: 100vh;
}
#MainMenu > .logo {
	background-color: rgb(0,180,20);
	padding: 10px;
	font-size: 60px;
	display: block;
	height: 90px;
	color: rgb(250,250,250);
	width: 100px;
	margin: 0px auto;
	left: calc(50% - 60px);
	top: 10px;
	position: absolute;
	text-align: center;
}
#MainMenu > .logo > span {
	display:block;
	font-size: 25px;
}
#lMainMenu {
	padding-top: 150px;
	display: block;
}
#lMainMenu > li {
	padding-left: 10px;
	display: block;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: rgb(240,240,240);	
	background-color: rgba(250,250,250,0.1);
	margin-bottom: 3px;
	cursor: pointer;
}
#lMainMenu > li:hover {
	background-color: rgba(250,250,250,0.2);
}
#lMainMenu > li:last-of-type {
	margin-bottom: 0px;
}