#dLogin {
	background-color: rgba(240,240,240,0.95);
	padding: 30px;
	position: absolute;
	width: 500px;
	height: 300px;
	left: calc(50vw - 250px);
	top: calc(40vh - 150px);
	border-radius: 20px;
	text-align: center;
}
#dLogin > .logo {
	background-color: rgb(0,180,20);
	padding: 20px;
	font-size: 50px;
	display: inline-block;
	height: 50px;
	color: rgb(250,250,250);
	border-radius: 10px;
}
#dLogin > .logo > span {
	font-size: 20px; 
}
#dLogin > #fLogin {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 400px;
}
