#Footer {	
	line-height: 16px;
	position: fixed;
	bottom: 0px;
	background-color: rgb(0,150,20);
	color: rgb(240,240,240);
	width: 100vw;
	text-align: center;
}
#Footer > a {
	font-size: 12px;
	color: rgb(240,240,240);
	line-height: 16px;
}
#Footer > a:not(:last-of-type):after {
	content: '';
	margin: 0px 5px 0px 10px;
	text-align: center;
	width: 1px;
	height: 12px;
	border-right: 1px solid rgb(240,240,240)
}
#Footer > a:hover:after {
	text-decoration: none;
}