#Content {
	padding: 10px;
	width: calc(100vw - 20px);
	margin-top: 52px;
	margin-bottom: 20px;
}
#LoadingBox, #MessageBox {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
	z-index: 99;
	display: none;
}
#LoadingBox_Inner, #MessageBox_Inner {
	position: absolute;
	padding: 10px;
	background-color: rgba(250,250,250,0.95);
	top: calc(45vh - 60px);
	left: calc(50vw - 60px);
	border-radius: 50%;
}
#MessageBox {
	z-index: 100;
	text-align: center;
}
#MessageBox_Inner {
	border-radius: 0px;
	top: 30vh;
	display: inline-block;
	text-align: left;
	position: relative;
	left: 0px;
	max-width: 40vw;
}

#MessageBox_ButtonRow {
	margin-top: 20px;
	text-align: center;
}
#MessageBox_ButtonRow > button {
	display: inline-block;
	margin-right: 20px;
}
#MessageBox_ButtonYes, #MessageBox_ButtonOk, #MessageBox_ButtonNo {
	display: inline-block;
	border: 1px solid rgb(0,120,20);
	background-color: rgb(0,180,20);
	color: rgb(240,240,240);
	margin-top: 10px;
	font-size: 16px;
	padding: 5px 30px;
}  
#MessageBox_ButtonNo {
	border-color: rgb(170,0,0);
	background-color: rgb(170,50,50);
}